<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DebugLevel" value="1"/>
    <add key="LogFileName" value="ADIBFinnOneCnctr.log"/>
    <add key="AttributeXML" value="ADIBFinnOneAttributes.xml"/>
    <add key="ConnectionTimeout" value="30"/>
    <add key="RetryCount" value="3"/>
  </appSettings>
</configuration>